@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
    --color-primary: oklch(62.3% 0.214 259.815);
    --color-secondary: oklch(68.5% 0.169 237.323);
    --color-bg-page: oklch(98.5% 0 0);
    --color-bg-card: #f4f4f5;
    --color-text-title: #09090b;
    --color-text-body: #3f3f46;
    --color-border: #e4e4e7;
}

@layer base {
    .dark {
        --color-primary: oklch(62.3% 0.214 259.815);
        --color-bg-page: oklch(20.8% 0.042 265.755);
        --color-bg-card: oklch(37.2% 0.044 257.287);
        --color-text-title: #ffffff;
        --color-text-body: oklch(96.8% 0.007 247.896);
        --color-border: oklch(44.6% 0.043 257.281);
    }

    body {
        @apply bg-bg-page text-text-body transition-colors duration-300 antialiased;
    }
}